<div class="d-flex justify-content-center">
  
    <img src="./assets/ApEPIC.svg" id="logo" class="img-fluid" alt="Responsive image">
    <!-- <img src="../../assets/ApEPIC.svg" id="logo" class="img-fluid" alt="Responsive image"> -->

    
  </div>

  <div class="d-flex justify-content-center"  id ="photocon"><router-outlet></router-outlet></div>

  
  <div class="d-flex justify-content-center" *ngIf="!showElement" title="">
  <h1 title="display-1" class="display-1" style="font-size:8vw;" ><div id="glitch" title="Website under construction">Website under construction</div></h1>
  </div>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  
  <div class="d-flex justify-content-center" style="font-size:8vw" id="social">
  <ul>
  <li>
    <a class="whatsapp" href="https://wa.me/6584590998">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="bi bi-whatsapp" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="instagram" href="https://www.instagram.com/apepic.sg/?hl=en">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="bi bi-instagram" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="tiktok" href="https://www.tiktok.com/@apepic.sg?_t=8fDC5jX9rik">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="bi bi-tiktok" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="telegram" href="https://t.me/heywhat2">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <i class="bi bi-telegram" aria-hidden="true"></i>
    </a>
  </li>
  
  </ul>
 
  </div>


  
  

